@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=League+Spartan:wght@100..900&display=swap');
body {
    font-family: "League Spartan", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0;
    background-color: #fcf8cc;
  }
  
  #title {
    text-align: center;
    margin: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  select {
    margin: 10px;
    padding: 5px;
    font-size: 14px;
    font-family: "League Spartan", sans-serif;
  }

  select option{
    font-family: "League Spartan", sans-serif;
  }

  h3 {
    color: #555;
  }
  
  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  input[type="text"] {
    padding: 5px;
    font-size: 16px;
    text-align: center;
    border: none;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: black;   
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
    color: white;
  }
  