body{
    margin-top: 150px;
    padding: 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3crect width='356.72' height='356.72' clip-path='url(%26quot%3b%23SvgjsClipPath1001%26quot%3b)' x='716.43' y='345.92' fill='url(%26quot%3b%23SvgjsPattern1002%26quot%3b)' transform='rotate(53.63%2c 894.79%2c 524.28)'%3e%3c/rect%3e%3cpath d='M104.96 309.73L104.58 296.93 116.99 293.75 116.6 280.95 129.01 277.77 128.63 264.97 141.03 261.78M111.36 314.54L110.97 301.74 123.38 298.56 123 285.76 135.4 282.58 135.02 269.78 147.42 266.59M117.75 319.35L117.37 306.55 129.77 303.37 129.39 290.57 141.79 287.39 141.41 274.58 153.82 271.4' stroke='%23d3b714' stroke-width='2.79' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3crect width='237.44' height='237.44' clip-path='url(%26quot%3b%23SvgjsClipPath1003%26quot%3b)' x='356.78' y='233.39' fill='url(%26quot%3b%23SvgjsPattern1004%26quot%3b)' transform='rotate(216.41%2c 475.5%2c 352.11)'%3e%3c/rect%3e%3crect width='264' height='264' clip-path='url(%26quot%3b%23SvgjsClipPath1005%26quot%3b)' x='35.44' y='408.92' fill='url(%26quot%3b%23SvgjsPattern1006%26quot%3b)' transform='rotate(332.23%2c 167.44%2c 540.92)'%3e%3c/rect%3e%3crect width='320.8' height='320.8' clip-path='url(%26quot%3b%23SvgjsClipPath1007%26quot%3b)' x='150.44' y='339.1' fill='url(%26quot%3b%23SvgjsPattern1008%26quot%3b)' transform='rotate(65.81%2c 310.84%2c 499.5)'%3e%3c/rect%3e%3ccircle r='88.86152075210273' cx='1160.48' cy='434.56' stroke='%23e73635' stroke-width='1.59' stroke-dasharray='3%2c 2'%3e%3c/circle%3e%3ccircle r='46.666666666666664' cx='638.27' cy='82.22' stroke='%23037b0b' stroke-width='1' stroke-dasharray='4%2c 4'%3e%3c/circle%3e%3cpath d='M1353.95 187.38a5.6 5.6 0 1 0-10.95 2.37 5.6 5.6 0 1 0 10.95-2.37zM1338.31 190.76a5.6 5.6 0 1 0-10.95 2.37 5.6 5.6 0 1 0 10.95-2.37zM1322.67 194.14a5.6 5.6 0 1 0-10.95 2.37 5.6 5.6 0 1 0 10.95-2.37zM1307.03 197.52a5.6 5.6 0 1 0-10.95 2.36 5.6 5.6 0 1 0 10.95-2.36z' stroke='%23d3b714' stroke-width='1' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3crect width='348' height='348' clip-path='url(%26quot%3b%23SvgjsClipPath1009%26quot%3b)' x='846.17' y='62.91' fill='url(%26quot%3b%23SvgjsPattern1010%26quot%3b)' transform='rotate(313.19%2c 1020.17%2c 236.91)'%3e%3c/rect%3e%3crect width='267.68' height='267.68' clip-path='url(%26quot%3b%23SvgjsClipPath1011%26quot%3b)' x='199.36' y='-113.89' fill='url(%26quot%3b%23SvgjsPattern1012%26quot%3b)' transform='rotate(17.1%2c 333.2%2c 19.95)'%3e%3c/rect%3e%3cpath d='M1131.83 293.34999999999997 L1148.99 384L1191.5721094912822 287.51289050871765z' stroke='%23037b0b' stroke-width='1.18' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3cpath d='M1003.9300000000001 512.88 L921.5600000000001 507.64L997.2972123483897 475.7077876516104z' stroke='%23e73635' stroke-width='1.93' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='13.72' height='13.72' patternUnits='userSpaceOnUse' id='SvgjsPattern1002'%3e%3cpath d='M0 13.72L6.86 0L13.72 13.72' stroke='%23e73635' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1001'%3e%3ccircle r='89.18' cx='894.79' cy='524.28'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='7.42' height='7.42' patternUnits='userSpaceOnUse' id='SvgjsPattern1004'%3e%3cpath d='M0 7.42L3.71 0L7.42 7.42' stroke='%23037b0b' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1003'%3e%3ccircle r='59.36' cx='475.5' cy='352.11'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='13.2' height='13.2' patternUnits='userSpaceOnUse' id='SvgjsPattern1006'%3e%3cpath d='M0 13.2L6.6 0L13.2 13.2' stroke='%23e73635' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1005'%3e%3ccircle r='66' cx='167.44' cy='540.92'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='320.8' height='8.02' patternUnits='userSpaceOnUse' id='SvgjsPattern1008'%3e%3crect width='320.8' height='4.01' x='0' y='0' fill='%23e73635'%3e%3c/rect%3e%3crect width='320.8' height='4.01' x='0' y='4.01' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1007'%3e%3ccircle r='80.2' cx='310.84' cy='499.5'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1010'%3e%3cpath d='M0 6L3 0L6 6' stroke='%23037b0b' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1009'%3e%3ccircle r='87' cx='1020.17' cy='236.91'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='267.68' height='9.56' patternUnits='userSpaceOnUse' id='SvgjsPattern1012'%3e%3crect width='267.68' height='4.78' x='0' y='0' fill='%23e73635'%3e%3c/rect%3e%3crect width='267.68' height='4.78' x='0' y='4.78' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1011'%3e%3ccircle r='66.92' cx='333.2' cy='19.95'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}

h1{
    color:white;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    color:white;
    text-align: center;
    margin: 5px 0;
}

.inputs{
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(212, 220, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 250px;
}
.inputs p{
    color: black;
    margin: 5px 0;
}
button{
    margin-top: 20px;
    width: 70px;
    padding: 5px;
    border-style: none;
    color: white;
    background-color: blue;
    border-radius: 10px;
    margin-bottom: 50px;
}

input{
    border-radius: 5px;
    width:200px;
    height:20px;
}

